{% extends "main/include/base.html" %}

{% block body %}
<div class="container about-container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h2 class="text-center inverse-header">Lorem Ipsum Dolor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet feugiat elit, mattis ultrices felis. Integer accumsan, mi sit amet iaculis elementum, orci nisl cursus diam, sit amet scelerisque est diam ac urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et dui magna. Cras eget leo a lorem varius egestas dapibus vitae massa. Phasellus sed tincidunt erat. Phasellus odio velit, ultrices ac commodo sed, aliquet non elit. Donec ut luctus augue.</p>

            <p>Curabitur porta urna sed libero feugiat vehicula. Morbi non nibh augue. Integer eget nulla quis nisl aliquet ultrices. Nulla et metus feugiat, blandit purus non, facilisis arcu. Sed tempus ligula nec lectus ornare vulputate. Integer urna nulla, tempor at pellentesque at, convallis eget diam. Sed ut bibendum nunc, at aliquam augue. Proin eget felis id neque mattis sollicitudin vitae in risus. Pellentesque condimentum, dolor in imperdiet pellentesque, nibh augue egestas erat, sed sodales nunc quam luctus ipsum. Aenean fermentum lobortis nunc, ut accumsan metus pellentesque vitae. Nullam rutrum dictum lacus, nec tincidunt ligula ultricies ut. Praesent varius vel dolor nec lacinia. Etiam ultricies, sem in congue varius, neque risus lobortis turpis, ac laoreet lorem est in dui. Integer elementum malesuada facilisis. Suspendisse auctor risus at ullamcorper rutrum. Praesent mattis tellus suscipit justo tincidunt scelerisque.</p>
        </div>
        <div class="col-md-6 col-xs-12">
            <img class="img-responsive img-rounded about-img" src="/static/img/about.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet feugiat elit, mattis ultrices felis. Integer accumsan, mi sit amet iaculis elementum, orci nisl cursus diam, sit amet scelerisque est diam ac urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et dui magna. Cras eget leo a lorem varius egestas dapibus vitae massa. Phasellus sed tincidunt erat. Phasellus odio velit, ultrices ac commodo sed, aliquet non elit. Donec ut luctus augue.</p>
        </div>
    </div>
</div>
{% endblock %}